body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f4f9fd;
  margin: 0;
  padding: 0;
}
#container {
  max-width: 1100px;
  margin: 40px auto 0 auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 32px 18px 38px 18px;
  box-shadow: 0 0 8px 1px #e7e7e7;
}
h1 {
  margin-bottom: 0.35em;
}
#controls {
  margin-bottom: 17px;
  font-size: 1.1em;
}
#map {
  display: inline-block;
  position: relative;
}
#legend-holder {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg text {
  font-family: inherit;
}
label, select {
  font-size: 1em;
  margin-right: 10px;
}
